.content-container {
  margin-left: -15px;
  padding-right: 15px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.content-container li {
  margin: 10px 0;
}

.content-container span {
  font-weight: 500;
}